Auto Send UK Invoices.Table.al
Default Publisher_AutoSendInvoices_1.0.0.0.app
Sales Invoice Report Parameters.txt
Send UK Invoices.Pages.al
.alpackages/Microsoft_Application_26.0.30643.35618.app
.alpackages/Microsoft_Base Application_26.0.30643.36330.app
.alpackages/Microsoft_Business Foundation_26.0.30643.36723.app
.alpackages/Microsoft_Business Foundation_26.0.30643.36956.app
.alpackages/Microsoft_System Application_26.0.30643.36723.app
.alpackages/Microsoft_System Application_26.0.30643.36956.app
.alpackages/Microsoft_System_26.0.36624.0.app
.alpackages/Microsoft_System_26.0.36757.0.app
.vscode/launch.json
.vscode/rad.json
app.json
